@charset 'utf-8';

:root{
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-opacity: hsla(178.1, 100%, 50%, 0.6);

  --dark-blue-main: hsl(217, 54%, 11%);
  --dark-blue-card: hsl(216, 50%, 16%);
  --dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --font-size: 18px;
  --line-height: 24px;
  --font-family: 'Outfit', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background-color: var(--dark-blue-main);
  font-family: var(--font-family);
  font-weight: 300;
  line-height: var(--line-height);
  font-size: var(--font-size);
}

body{
  min-height: 100vh;
  height: 100%;
}

a{
  text-decoration: none;
  color: white;
}

  a:hover{
    color: var(--cyan);
  }

  a:active,
  a:focus{
    opacity: .8;
  }

hr{
  color: var(--dark-blue-line);
}

b{
  font-weight: 400;
}

.main-container{
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "master"
    "foot";
}

.grid-card{
  grid-area: master;
}

.main-footer{
  grid-area: foot;
  min-height: 65px;
  color: var(--dark-blue-line);
  text-align: center;
  font-size: 12px;
  line-height: 1.1;

  a{
    color: var(--soft-blue);
  }
}

.attribution{
  grid-area: foot;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

.grid-cards{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card-container{
  align-self: center;
  justify-self: center;
  max-width: 380px;
}

.card{
  padding: 24px 24px 30px;
  color: var(--soft-blue);
  background-color: var(--dark-blue-card);
  max-width: 349px;
  min-height: 596px;
  border-radius: 12px;

  box-shadow: 5px 5px 15px 5px #0c1729, -9px 5px 15px 5px #0c1729, -7px -5px 15px 5px #0c192c, 12px -5px 15px 5px #0c192c, 12px 10px 15px 7px #0c192c, -10px 10px 15px 7px #0c1729, -10px -7px 27px 1px #0c192c, 5px 5px 15px 5px rgba(0,0,0,0);
}

  .card {
    > header {
      position: relative;

      > .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: -1%;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
  
        background-color: var(--cyan-opacity);
        visibility: hidden;
      }
    }

    &-header:hover {
      .overlay{
        visibility: visible;
        cursor: pointer;
      }
    }

    &-img {
      > img{
        border-radius: 12px;
        width: 100%;
        height: 302px;
      }
    }

    &-content {
      padding-top: 20px;
    }

    &-title{
      margin-bottom: 18px;
      color: var(--white);
      font-weight: 600;
      font-size: 22px;
    }

    &-links{
      list-style-type: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      line-height: 1;
      padding: 26px 0;

      > li {
        display: flex;
        align-items: center;
        gap: 7px;
      }
    }

    &-credits{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      margin-top: 15px;
    }

    &-credits-avatar{
      border: 1px solid var(--white);
      border-radius: 50%;
    }

    &-credits-info{
      font-size: 16px;

      a {
        display: inline-block;
        margin-left: 2px;
      }
    }
  }

.icon-indicator{
  display: inline-block;
}

.text-indicator{
  display: inline-block;
}

.highlighted{
  color: var(--cyan);
  font-weight: 600;
}

.attribution{
  text-align: center;
  background-color: var(--dark-blue-card);
  color: var(--soft-blue);
}